
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-image: url('Images/fundo.jpg');
}


.form-signin {
    max-width: max-content;
    margin: 0 auto;
    padding: 15px;
    color: #ff0000;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input{
    margin-bottom: 5px;
    border-color:#2a4b7c;
}

.form-signin button[type="login"]
{
    margin-top: 5px;
    margin-left: 70px;
}

h2{
    text-align: center;
    color: #ffffff;
}

.button
{
    background-color: #2a4b7c;
    border-color: black;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 25px;
    max-width: max-content;
    margin: auto;
    text-align: center;
    cursor: pointer;
}